 /*登入與創建帳戶表單*/
.show {
    display: block;
}
.hide {
    display: none;
}

 body {
  width: 960px;
  background: rgb(249, 196, 95);
  margin: 0 auto;
}

a:hover {
  color: blue;
  text-decoration: none;
}

.logo {
  color: rgb(76,185,195);
}

/*表單*/
.login-form {
  background: white;
  width: 600px;
  margin: 0 auto;
  padding: 50px 100px;
}

.name-input, .id-input, .password-input {
  margin-bottom: 40px;
}

.name-input label, .id-input label, .password-input label {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-family: Josefin Sans,sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.name-input input, .id-input input, .password-input input {
  width: 100%;
  display: block;
  padding: 12px 10px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  border: 2px solid rgba(229,145,16,.4);
  outline: none;
}

.buttons-block {
  display: inline-block;
  margin-right: 6%;
  width: 43%;
}

.buttons-block .btn {
  display: inline-block;
  margin-left: 10%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 160px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 9px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: Josefin Sans,sans-serif;
  font-weight: 600;
  border: 2px solid #2196F3;
  color: #2196F3;
  cursor: pointer;
  background: #fff;
  outline: none;
}

.buttons-block .btn.btn-login {
    margin: 0;
}

.btb-login {
  margin-right: 20px;
}
.btn:hover {
  color: #fff;
  background: #2196F3;
}

.forgot-password {
    margin-top: 50px;
    font-size: 16px;
}

.error {
 margin: 50px auto;
 font-size: 1.5rem;
 width: 360px;
 height: 6rem;
 border: 1px solid red;
 background: #FFD2CE;
 line-height: 3rem;
 text-align: center;
 font-weight: 600;
 font-family: sans-serif;
 color: #666;
}
