/*iframe.css*/
iframe {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}
iframe.menu {position: fixed;}
iframe#content {background: #fff;padding-top: 52px;}