/*input*/
.input-field-text {
    margin: 10px 0;
}
.input-text {
    -webkit-appearance: none;
    width: 80%;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 5px;
    height: 2em;
    box-shadow: inset 0 1px 1px #e1e1e1;
}
.input-text:focus {
    /*outline: rgba(220,100,50,.4) solid 2px;*/
}