/*radio button tab default style*/
* {
    -webkit-appearance: none;
}
input[name="tab"] {
    -webkit-appearance: none;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #39f;
    border-radius: 4px;
    padding: 2px 4px;
    width: 30%;
    text-align: center;
}
input[name="tab"]:checked {
    background: #3399ff;
    color: #fff;
}
/*insert text*/
input[name="tab"]::after {
    content: attr(title);
}

/*checked style*/
input[name="tab"][value="0"]:checked ~ #main1,
input[name="tab"][value="1"]:checked ~ #main2,
input[name="tab"][value="2"]:checked ~ #main3 {
    display: block;
}

/*content area*/
.main-content {
    display: none;
    border-top: 1px solid #eeeeee;
    margin: 20px 0 0;
    text-align: center;
}
/*TODO
- add app thumbnail inline-block
-  title and description let them left align
- add number

**/

/*list*/
.list {
    list-style: none;
    padding: 0;
    margin: 0;


}
.list a{
    text-decoration: none;
}

.list .item {
    padding: 15px 10px;
    border-bottom: 1px solid #eeeeee;

    overflow: auto;
}
.item img {
    float:left;
    margin-right: 10px;
}
.fakeimg{
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 10px;
    background: #eee

}
.item-title,
.item-description{
    margin: 0;
    padding: 0;
    color: #444;
    font-family: sans-serif;
    font-size: 0.7em;
    line-height: 1.5em;
}

.item-title {
    font-weight: bold;
    color: #333;
    font-size: 0.8em;
}
